:root {
    --background-color-light: #fff;
    --text-color-light: #333;
    --background-color-dark: #333;
    --text-color-dark: #fff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

nav {
    background: #008577;
    color: white;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: stretch; /* Ensures buttons use full vertical space */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

nav li {
    display: flex;
    align-items: center; /* Center items vertically */
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block; /* Ensures the link uses the full height of the li */
}

#content {
    margin-top: 15px;
    padding: 20px;
}

.dark-theme {
    --background-color-light: #333;
    --text-color-light: #fff;
}

.sub-menu {
    display: none; /* Initially hide the sub-menu */
    background: #007060;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
}

nav li:hover .sub-menu {
    display: block; /* Show sub-menu on hover */
}
